In [59]:
# latest update
# April 26, 2017
# Changes done by: Jimmy Vivas
# Added code description

# This code was developed by Jimmy Vivas

# The code will take all CSv files from a specific directory and process them at the same time
# The code will get replace strings in the values for numeric data
#   It will assign an integer value for each distinct string for each column (sensor)
#   The integer value will be reset it for each sensor
#   The code does not evaluare wether or not the sensor should stay. THe analyst will make this decision
#   Using Previse or any other tool
# The code will split the csv file if the result is more than 1MM rows

In [60]:
from os import listdir
import pandas as pd
import math

In [61]:
CSVFileList = []
NanPHDTagList = []

In [62]:
# mac Path
#CSVPath1 =  '/Users/jvivas/Documents/XMT Baytwon Sensor Data' \
#            '/Sensor Data/Testing'

CSVPath1 = '/Users/jvivas/Documents/Aspen/PTT GC PoC/Sensor Data/A210 - Quench Oil Tower/To Be Processed'

# Windows Path
# CSVPath1 = 'C:/Users/jvivas/Dropbox/Mtell Customer Projects/XOM BayTown RHC MEA Tower Foaming/Sensor Data/' \
#           'To be Processed'

# CSVPath1 = 'C:/Mtell/Projects/XOM Baytown POC/Sensor Data/ToBeFormatted'

In [63]:
CSVFileListAll = listdir(CSVPath1)
m = len(CSVFileListAll)
for i in range(m):
    fileNameStr = CSVFileListAll[i]
    fileStr = fileNameStr.split('.')[0]
    fileExt = fileNameStr.split('.')[1]
    if fileExt == "csv":
        CSVFileList.append(fileNameStr)

In [64]:
n = len(CSVFileList)

In [65]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [66]:
csvfile = CSVPath1 + "/" + 'A210_1Column.csv'
print("Loading Segment: %s" % 'A210_1Column.csv')

# In[43]:
df = pd.read_csv(csvfile, index_col=False, sep=',', low_memory=False)

# In[51]:
# Need to do this to avoid 
df = df.copy()
# Change new datetime column to datetime format
df['Date TIme'] = pd.to_datetime(df['Date TIme'])
# In[53]:
# Change datetime column format to look like 01/31/2015 0:00:00
df['Date TIme'] = df['Date TIme'].dt.strftime('%m/%d/%Y %H:%M:%S')

# Code to do Transposing
# Create two dataframes df1 only with tags and descriptions. df2 tag with values
df1 = df[0:1]  # FIRST ROW
df2 = df[1:len(df)]  # SECOND TO LAST ROW

# Replacing known test to null
df2.replace({'Bad': 'null', 'No Data': 'null', 'error': 'null'}, inplace=True, regex=True)

Loading Segment: A210_1Column.csv

/Users/jvivas/anaconda/lib/python3.5/site-packages/pandas/core/generic.py:3362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  limit=limit, regex=regex)

In [44]:
df2 = df[1:len(df)]  # SECOND TO LAST ROW

In [67]:
df2 = df2.set_index('Date TIme')

In [56]:
import numpy as np

In [57]:
numpy.set_printoptions(threshold=np.nan)

In [68]:
df2.dtypes

I4-TI2104.PV    object
dtype: object

In [75]:
print (str(df2.iloc[0].values))

[158.78685]

In [77]:
df2.iloc[0] = df2.iloc[0].apply(lambda x: pd.to_numeric(x, errors='raise'))

I4-TI2104.PV    158.78685
Name: 01/01/2014 00:00:00, dtype: float64

In [70]:
# from IPython.core.debugger import Tracer
# Tracer()() #this one triggers the debugger
# Convert columns to numbers those that has string wont be converted
StringList = {}
for i in range(len(df2)):
    # print ('converting '+ str(df2.iloc[i].values))
    try:
        df2.iloc[i].apply(lambda x: pd.to_numeric(x, errors='raise'))
    except ValueError:
        print ('Can not convert '+ str(df2.iloc[i].values) + ' to number')

Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number
Can not convert ['Intf Shut'] to number

In [76]:
df2.dtypes

I4-TI2104.PV    object
dtype: object

In [9]:
df2['I4-TI2104.PV'].apply(pd.to_numeric, errors='ignore')

1         158.787
2         158.688
3         158.706
4         158.965
5         158.484
6         158.714
7         158.679
8         158.628
9         159.128
10        158.884
11        158.731
12        158.901
13        158.921
14        158.658
15        158.789
16        159.045
17         159.24
18        158.873
19        159.097
20        158.874
21        158.845
22        158.632
23        158.848
24          158.9
25        159.042
26        158.827
27        158.857
28        158.719
29        158.775
30        159.045
31            159
32        158.702
33        158.852
34        158.945
35        158.907
36        158.705
37        158.543
38        158.403
39        158.488
40        158.546
41        158.424
42        158.195
43        158.484
44        158.315
45        158.171
46        158.233
47        158.065
48        158.205
49        158.065
50        158.041
51        158.238
52        158.181
53        158.536
54        158.014
55        158.024
56        158.232
57        158.071
58        158.158
59        158.232
60        158.347
61        158.183
62        158.375
63        158.295
64        158.397
65        158.365
66        158.369
67        158.348
68        158.341
69        158.098
70        158.214
71        158.147
72        158.183
73         158.04
74        158.157
75        158.292
76        158.398
77        158.326
78        158.284
79         158.28
80        158.042
81        158.235
82        157.999
83        158.097
84        158.286
85        158.222
86        158.042
87        158.124
88        158.208
89        158.422
90        158.267
91        158.399
92        158.148
93        158.305
94        158.155
95        158.386
96        158.456
97        158.139
98         158.26
99        158.261
100       158.316
101        158.26
102       158.206
103       158.353
104       158.571
105       158.563
106       158.452
107       157.617
108       157.172
109       157.118
110       157.146
111       157.572
112        158.18
113       158.266
114       158.281
115       158.485
116       158.424
117       158.317
118       158.316
119       158.261
120       158.486
121       158.427
122       158.376
123       158.511
124        158.29
125       158.739
126       158.425
127       158.265
128       158.486
129       158.289
130       158.233
131       158.345
132       158.563
133       158.291
134       158.399
135       158.263
136       158.483
137       158.125
138        158.18
139       158.345
140       158.291
141        158.15
142       158.181
143       158.209
144       158.124
145       158.183
146       158.619
147       158.233
148       158.259
149       158.068
150       158.229
151       158.013
152       158.203
153        158.15
154       158.064
155       158.258
156        158.15
157       158.318
158       158.403
159       158.482
160       158.206
161        158.32
162       158.245
163       157.957
164       158.287
165       157.956
166       158.039
167       158.288
168       158.038
169       158.124
170       158.396
171       158.316
172       158.291
173       158.093
174       157.761
175       157.926
176         157.9
177       158.291
178       157.954
179       157.983
180       157.928
181       157.928
182       157.874
183       158.121
184       158.009
185       157.733
186       157.791
187       157.874
188       157.803
189       158.038
190       157.842
191       157.847
192       158.454
193       158.038
194       157.928
195       158.052
196       158.092
197       157.926
198       157.953
199       158.036
200       158.041
201       158.119
202        158.04
203       157.896
204        157.87
205       157.712
206       157.981
207       158.096
208       157.978
209       158.013
210       158.151
211       158.375
212       158.261
213       158.179
214       158.149
215       158.207
216       158.232
217       158.237
218       158.205
219       158.321
220       157.983
221        158.12
222       158.042
223       158.207
224       158.124
225       158.202
226       158.235
227       158.173
228       158.371
229       157.731
230       157.956
231       158.375
232       158.207
233       158.238
234       158.042
235       158.153
236       158.484
237       158.489
238       158.401
239       158.679
240       158.902
241       158.592
242       158.155
243       158.207
244       158.234
245        158.43
246       158.375
247       158.369
248       158.402
249       158.515
250       158.402
           ...
209992    159.194
209993    159.173
209994    159.169
209995    159.273
209996     159.24
209997    159.121
209998    159.167
209999    159.064
210000    159.091
210001    159.084
210002    159.058
210003    158.992
210004    159.041
210005    158.905
210006    158.807
210007    158.706
210008    158.835
210009    158.667
210010    158.751
210011    158.691
210012    158.651
210013    158.548
210014    158.679
210015    158.691
210016    158.654
210017     158.74
210018    158.721
210019    158.715
210020    158.779
210021    158.892
210022    158.933
210023    158.863
210024    158.814
210025    158.885
210026    158.905
210027     158.97
210028    159.006
210029    158.929
210030    158.913
210031    158.907
210032    159.017
210033    158.889
210034    159.017
210035    158.907
210036    158.849
210037    158.866
210038     158.89
210039    158.889
210040    158.723
210041    158.667
210042    158.823
210043    158.704
210044    158.554
210045    158.706
210046     158.58
210047    158.483
210048    158.528
210049    158.552
210050    158.515
210051    158.466
210052    158.495
210053    158.567
210054    158.682
210055    158.707
210056    158.801
210057    158.929
210058    158.972
210059     158.99
210060    159.167
210061    159.013
210062        159
210063    159.178
210064    159.132
210065    159.169
210066    159.174
210067    159.249
210068    159.139
210069    159.159
210070    159.087
210071    159.067
210072    159.153
210073    159.058
210074    159.026
210075    158.972
210076    159.056
210077    158.989
210078    159.058
210079    158.985
210080     158.89
210081     158.87
210082    158.878
210083    158.915
210084    159.054
210085    158.974
210086    159.165
210087    159.086
210088     159.18
210089    159.251
210090    159.251
210091    159.275
210092    159.325
210093     159.39
210094    159.281
210095    159.296
210096    159.351
210097    159.392
210098    159.348
210099     159.39
210100    159.309
210101    159.312
210102    159.297
210103    159.307
210104    159.327
210105    159.177
210106    159.056
210107    159.169
210108    159.058
210109    159.025
210110    158.952
210111     158.89
210112    158.877
210113    158.693
210114    158.712
210115    158.777
210116    158.867
210117    158.888
210118    158.979
210119    158.957
210120    158.933
210121    159.002
210122    159.225
210123    159.296
210124    159.255
210125    159.225
210126    159.255
210127    159.307
210128    159.368
210129    159.337
210130    159.398
210131    159.346
210132    159.214
210133    159.235
210134    159.204
210135    159.208
210136    159.058
210137    159.028
210138    158.972
210139    159.013
210140    158.877
210141    158.864
210142     158.82
210143    158.851
210144    158.957
210145    158.974
210146    159.019
210147    159.034
210148    159.041
210149    159.056
210150    159.034
210151    159.075
210152    159.147
210153    159.156
210154    159.251
210155    159.084
210156    159.108
210157    159.013
210158    158.985
210159    159.234
210160    159.296
210161    159.379
210162    159.409
210163    159.375
210164    159.401
210165    159.515
210166    159.384
210167     159.55
210168    159.487
210169    159.519
210170    159.543
210171    159.558
210172     159.56
210173    159.658
210174    159.725
210175    159.755
210176    159.762
210177    159.778
210178    159.896
210179    159.838
210180    159.941
210181    159.909
210182    159.866
210183    159.992
210184    159.778
210185    159.883
210186    159.862
210187     159.92
210188    159.782
210189    159.804
210190     159.63
210191     159.66
210192    159.643
210193    159.522
210194    159.591
210195    159.525
210196    159.351
210197    159.426
210198    159.491
210199    159.427
210200    159.491
210201    159.624
210202    159.598
210203    159.727
210204    159.695
210205    159.793
210206    159.933
210207    159.914
210208    159.964
210209    159.994
210210    159.913
210211    160.027
210212    159.849
210213    159.969
210214    159.905
210215    159.894
210216    159.928
210217    159.802
210218    159.831
210219    159.964
210220    159.762
210221     159.78
210222    159.752
210223    159.755
210224    159.669
210225    159.752
210226    159.725
210227    159.641
210228    159.435
210229    159.485
210230    159.422
210231    159.366
210232    159.236
210233    159.204
210234    159.305
210235    159.359
210236    159.448
210237    159.504
210238    159.725
210239    159.708
210240    159.808
210241    159.727
Name: I4-TI2104.PV, dtype: object

In [ ]:
a.to_csv(CSVPath1 + '/' + 'test.csv', index=True)

In [ ]:
# Here we filter the columns that are objects and create a dataframe with those columns
cols = df2.filter(like='I4').select_dtypes(include=['object']).columns

In [ ]:
i = 0
for i in range(n):
    csvfile = CSVPath1 + "/" + CSVFileList[i]
    print("Loading Segment: %s" % CSVFileList[i])

    # In[43]:
    df = pd.read_csv(csvfile, index_col=False, sep=',', low_memory=False)
    
    # In[51]:
    # Need to do this to avoid 
    df = df.copy()
    # Change new datetime column to datetime format
    df['Date TIme'] = pd.to_datetime(df['Date TIme'])
    # In[53]:
    # Change datetime column format to look like 01/31/2015 0:00:00
    df['Date TIme'] = df['Date TIme'].dt.strftime('%m/%d/%Y %H:%M:%S')

    # Code to do Transposing
    # Create two dataframes df1 only with tags and descriptions. df2 tag with values
    df1 = df[0:1]  # FIRST ROW
    df2 = df[1:len(df)]  # SECOND TO LAST ROW
    
    # Replacing known test to null
    df2.replace({'Bad': 'null', 'No Data': 'null', 'error': 'null'}, inplace=True, regex=True)

    # Convert columns to numbers those that has string wont be converted
    df2 = df2.apply(lambda x: pd.to_numeric(x, errors='ignore'))

    # Here we filter the columns that are objects and create a dataframe with those columns
    cols = df2.filter(like='I4').select_dtypes(include=['object']).columns

    # We need to do a for loop to go thru each column and convert  the characters string to numbers
    y = 0
    for y in range(len(cols)):
        # We don't want to change null to number
        from IPython.core.debugger import Tracer
        Tracer()() #this one triggers the debugger
            
        if pd.unique(df2[[cols[1]]].values.ravel()) != 'null':
        # Here we are assign a integer to each unique row value, the integer will increase
        # from 0 to x where x is the total unique values
            df2[[df2.columns.get_loc(cols[y])]] = pd.factorize(df2.iloc[:,df2.columns.get_loc(cols[y])])[0]

    # Converting Historian files to VTQ format (DATETIME, TAGNAME, DESCRIPTION, VALUE)
    mdf = pd.merge(pd.melt(df1, id_vars=['Date TIme'], var_name='TAGNAME',
                           value_name='DESCRIPTION')[['TAGNAME']],
                   pd.melt(df2, id_vars=['Date TIme'],  var_name='TAGNAME',
                           value_name='VALUE'), on=['TAGNAME'])

    # Sort columns by VTQ format
    mdf = mdf[['Date TIme', 'TAGNAME', 'VALUE']]

    # Exporting PHD Tag CSV file
    j = 1
    rows = 1000000
    totalRows = len(mdf)
    loops = math.ceil(totalRows/rows) + 1

    for j in range(loops): #need to round this
        a = (rows*j) - rows
        if totalRows <= rows:
            b = totalRows
            print('Exporting ' + str(CSVFileList[i].replace('.csv', '')) + ' Historian File')
            print("")
            mdf[a:b].to_csv(CSVPath1 + '/' + str(CSVFileList[i].replace('.csv', '')) + '_Formatted.csv', index=False)
        else:
            if (rows*j) >= totalRows:
                b = totalRows
                print('Exporting ' + str(CSVFileList[i].replace('.csv', '')) + ' chunk' + str(j) + ' Historian File')
                print("")
                mdf[a:b].to_csv(CSVPath1 + '/' + str(CSVFileList[i].replace('.csv', '')) + '_Formatted_chunk' + str(j) + '.csv', index=False)
            else:
                b = (rows*j) - 1
                print('Exporting ' + str(CSVFileList[i].replace('.csv', '')) + ' chunk' + str(j) + ' Historian File')
                print("")
                mdf[a:b].to_csv(CSVPath1 + '/' + str(CSVFileList[i].replace('.csv', '')) + '_Formatted_chunk' + str(j) + '.csv', index=False)