In [24]:
from io import StringIO
import pandas as pd

data = '''DATETIME|test 1|test 2
DESCRIPTION|DESCRIPTION|DESCRIPTION
1/01/2015 00:00:00|100|200'''

df = pd.read_table(StringIO(data), sep="|")

df1 = df[0:1]        # FIRST ROW
df2 = df[1:len(df)]  # SECOND TO LAST ROW

In [25]:
df1

      DATETIME       test 1       test 2
0  DESCRIPTION  DESCRIPTION  DESCRIPTION

In [26]:
df2

             DATETIME test 1 test 2
1  1/01/2015 00:00:00    100    200

In [27]:
mdf = pd.merge(pd.melt(df1, id_vars=['DATETIME'], var_name='TAGNAME',
                       value_name='DESCRIPTION')[['TAGNAME', 'DESCRIPTION']],
               pd.melt(df2, id_vars=['DATETIME'], var_name='TAGNAME',
                       value_name='VALUE'),
               on=['TAGNAME'])

In [28]:
mdf

  TAGNAME  DESCRIPTION            DATETIME VALUE
0  test 1  DESCRIPTION  1/01/2015 00:00:00   100
1  test 2  DESCRIPTION  1/01/2015 00:00:00   200

In [17]:
mdf = mdf[['DATETIME', 'TAGNAME', 'DESCRIPTION', 'VALUE']]

In [18]:
mdf

             DATETIME    TAGNAME       DESCRIPTION VALUE
0  1/01/2015 00:00:00  TAGNAME 1   TAG_DESCRIPTION   100
1  1/01/2015 00:00:00  TAGNAME 2  TAG2_DESCRIPTION   200